* {
    margin: 0;
    padding: 0;
}

.body{
    font-family: "Open Sans", sans-serif;
}
.container {
    background-color: #1a0d5c;
    display: flex;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
}

.header {
    border-radius: 0 0 20px 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 100%);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    align-self: stretch;
    display: flex;
    gap: 2em;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 1.5em 2em;
}

.logo {
    aspect-ratio: 4.76;
    object-fit: auto;
    object-position: center;
    width: 184px;
    align-self: start;
    max-width: 100%;
}

.nav {
    display: flex;
    gap: 20px;
    font-weight: 500;
    justify-content: space-between;
    margin: auto 0;
    list-style-type: none;
}

.nav-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: var(--Blue-gradient, linear-gradient(180deg, #00002c 0%, #220c7d 100%));
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: linear-gradient(180deg, #00002c 0%, #220c7d 100%);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    padding: 9px 33px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.login-button a {
    text-decoration: none;
    color: #fff;
}


.hero-title {
    color: #fff;
    text-align: center;
    letter-spacing: 0.85px;
    text-transform: uppercase;
    margin-top: 2em;
    width: 1012px;
    font-family: "Open Sans", sans-serif;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: linear-gradient(180deg, #00002c 0%, #220c7d 100%);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    padding: 9px 33px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}

.creators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.creator {
    width: 200px;
    margin: 20px;
    text-align: center;
}

.creator-image {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.creator-name {
    font-size: 20px;
    color: #000;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.creators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.creators .row {
    display: flex;
    flex-direction: row;
    gap: 2em;

}

.creator {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    justify-content: center;
    background-color: rgb(129, 129, 244);
    border-radius: 0.4em;
    border: 1px solid blueviolet;
    gap: 3em;
}

/* FOOTER */
footer {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 100%);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    align-self: stretch;
    display: flex;
    gap: 2em;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 1em 2em;
    margin-top: -1.2em;
}

footer {
    font-size: 16px;
    font-weight: bold;
}

.icons {
    display: flex;
    gap: 2em;
}

.icons a {
    color: var(--Blue-gradient, linear-gradient(180deg, #00002c 0%, #220c7d 100%));
}

.icons a:hover {
    color: var(--Blue-gradient-hover, linear-gradient(180deg, #220c7d 0%, #00002c 100%));
}

.icons svg {
    height: 1.5em;
    width: auto;
}

@media (max-width: 991px) {
    .login-button {
        padding: 0 20px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        align-self: center;
    }

    .nav {
        gap: 3em;
    }

    .hero-title {
        max-width: 100%;
        margin-top: 40px;
        font-size: 40px;
        line-height: 53px;
    }
    
    .hero-title
    {
        font-size: 18px;
        margin: 0 2em;
    }
   
    .row {
        display: flex;
        flex-direction: column; /* Change to column layout */
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .creator {
        margin-bottom: 20px; /* Add margin between items */
    }
}
